<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kunze</display-name>
  <!-- Standard Action Servlet Configuration -->
  
  <servlet>
  	<servlet-name>HandlerManager</servlet-name>
  	<servlet-class>servlet.handler.HandlerManager</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HandlerManager</servlet-name>
  	<url-pattern>/HandlerManager</url-pattern>
  </servlet-mapping>
  
  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  
</web-app>

