<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kunze</display-name>
  <!-- Standard Action Servlet Configuration -->

  <!-- springmvc start 2015.05.29 -->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-config/spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <!-- springmvc end -->


  <servlet>
  	<servlet-name>HandlerManager</servlet-name>
  	<servlet-class>servlet.handler.HandlerManager</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HandlerManager</servlet-name>
  	<url-pattern>/HandlerManager</url-pattern>
  </servlet-mapping>
  
  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  
</web-app>

